@import "../style/style.import.styl"

html
body
  margin 0
  padding 0
  width 100%
  font-size 3px
  pixel-image-rendering()

*
  box-sizing border-box

.sign
  kyrou-9()
  font-weight bold
  text-shadow black 1rem 1rem
  color white

  .title
    text-transform uppercase
    background #be4a2f

  .message
    background #d77643

  .title
  .message
    border 3rem solid red
    border-image url("border.png")
    border-image-width 45px
