html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 3px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
* {
  box-sizing: border-box;
}
.sign {
  font-family: "Kyrou 9 Spelkollektivet";
  font-size: 8rem;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  text-shadow: #000 1rem 1rem;
  color: #fff;
}
.sign .title {
  text-transform: uppercase;
  background: #be4a2f;
}
.sign .message {
  background: #d77643;
}
.sign .title,
.sign .message {
  border: 3rem solid #f00;
  border-image: url("border.png");
  border-image-width: 45px;
}
